<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

        <body>
            <%- include('../partials/header.ejs') %>
                <div id="user-form" >
                    <div class="row">
                        <div class="col-12">
                            <h3 class="products-title">Editá tu cuenta</h3>
                        </div>
                    </div>
                        <form id="register-form" action="/users/?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div id="user-form">

                                <div class="col-12 col-md-6">
                                    <input type="text" id="nombre" name="nombre" value="<%= user.nombre %>"
                                        class="form-input">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" id="apellido" name="apellido" value="<%= user.apellido %> class="form-input">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" id="domicilio" name="domicilio" value="<%= user.domicilio %>
                                        class="form-input">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="email" id="email" name="email" value="<%= user.email %>
                                        class="form-input">
                                </div>
                                <div class="col-12">
                                    <input type="file" id="imagen" name="imagen">
                                </div>
                                <div class="col-12">
                                    <input type="password" id="password" name="password" placeholder="Contraseña"
                                        class="form-input">
                                </div>
                                <div class="col-12">
                                    <input type="password" id="password2" placeholder="Contraseña"
                                        class="form-input">
                                </div>                               
                                <div class="col-12 register-button-bar">
                                    <button type="submit" class="submit">Actualizar</button>
                                    <a href="/users/profile">Regresar al perfil</a>

                                </div>

                            </div>
                        
                        </form>

                </div>
                <%- include('../partials/footer.ejs') %>
        </body>

</html>