<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
            <div id="user-form">
                <div class="row">
                    <div class="col-12">
                        <h3 class="products-title">Crea tu cuenta</h3>
                    </div>
                </div>

                <form id="register-form" action="/users/" method="POST" enctype="multipart/form-data">
                    <div id="user-form">

                        <div class="col-12 col-md-6 is-invalid">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre"
                                value=" <%= locals.oldData ? oldData.nombre : null  %> " class="form-input is-invalid">
                        </div>
                        <div class=" text-danger">
                            <% if (locals.errors && errors.nombre) { %>
                                <%= errors.nombre.msg %>
                                    <% } %>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="apellido">Apellido:</label>
                            <input type="text" id="apellido" name="apellido"
                                value=" <%= locals.oldData ? oldData.apellido : null  %> "
                                class="form-input is-invalid">
                        </div>
                        <div class="text-danger">
                            <% if (locals.errors && errors.apellido) { %>
                                <%= errors.apellido.msg %>
                                    <% } %>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="domicilio">Domicilio:</label>
                            <input type="text" id="domicilio" name="domicilio"
                                value=" <%= locals.oldData ? oldData.domicilio : null  %> "
                                class="form-input is-invalid">
                        </div>
                        <div class="text-danger">
                            <% if (locals.errors && errors.domicilio) { %>
                                <%= errors.domicilio.msg %>
                                    <% } %>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="telefono">Telefono:</label>
                            <input type="text" id="telefono" name="telefono"
                                value=" <%= locals.oldData ? oldData.telefono : null  %> "
                                class="form-input is-invalid">
                        </div>
                        <div class="text-danger">
                            <% if (locals.errors && errors.telefono) { %>
                                <%= errors.telefono.msg %>
                                    <% } %>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email"
                                value=" <%= locals.oldData ? oldData.email : null  %> " class="form-input is-invalid">
                        </div>
                        <div class="text-danger">
                            <% if (locals.errors && errors.email) { %>
                                <%= errors.email.msg %>
                                    <% } %>
                        </div>
                        <div class="col-12">
                            <label for="imagen">Imagen:</label>
                            <input type="file" id="imagen" name="imagen">
                        </div>
                        <div class="text-danger">
                            <% if (locals.errors && errors.imagen) { %>
                                <%= errors.imagen.msg %>
                                    <% } %>
                        </div>
                        <div class="col-12">
                            <label for="password">Contrase単a:</label>
                            <input type="password" id="password" name="password" placeholder="Contrase単a"
                                class="form-input">
                        </div>
                        <div class="text-danger">
                            <% if (locals.errors && errors.password) { %>
                                <%= errors.password.msg %>
                                    <% } %>
                        </div>
                        <div class="col-12">
                            <label for="password2">Confirmar contrase単a:</label>
                            <input type="password" id="password2" name="password2" placeholder="Contrase単a"
                                class="form-input">
                        </div>
                        <div class="text-danger">
                            <% if (locals.errors && errors.password2) { %>
                                <%= errors.password2.msg %>
                                    <% } %>
                        </div>

                        <div class="col-12 register-button-bar">
                            <button type="submit" class="submit">Registrarse</button>
                            <button type="reset" class="reset">Borrar</button>

                        </div>

                    </div>

                </form>

            </div>
            <%- include('../partials/footer.ejs') %>
    </body>
</html>