<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


            <div id="user-form">
                <div class="row">
                    <div class="col-12">
                        <h3 class="products-title">Editando al usuario: <%= user.nombre + " " + user.apellido %>
                        </h3>
                    </div>
                </div>


                <form id="register-form" action=" /users/update/<%=user.id %>" method="POST">
                    <div id="user-form">

                        <div class="col-12 col-md-6">
                            <label for="nombre">Nombre </label>
                            <input type="text" id="nombre" name="nombre" value="<%= user.nombre %>" class="form-input"
                                required>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="nombre">Apellido </label>
                            <input type="text" id="apellido" name="apellido" value="<%= user.apellido %>"
                                class="form-input" required>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="nombre">Domicilio </label>
                            <input type="text" id="domicilio" name="domicilio" value="<%= user.domicilio %>"
                                class="form-input" required>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="nombre">Telefono </label>
                            <input type="text" id="telefono" name="telefono" value="<%= user.telefono %>"
                                class="form-input" required>
                        </div>

                        <div class="col-12 register-button-bar">
                            <button type="submit" class="submit">Actualizar</button>


                        </div>

                    </div>

                </form>

            </div>
    </body>

</html>