<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <h3>Listado de Géneros</h3>
            <ul>
                <% for( let i=0; i < editorials.length; i++ ) { %>
                    <div class="botones_editar_borrar">
                        <li>
                            <a href="/editorials/detail/<%= editorials[i].id %>">
                                <%= editorials[i].nombre %>
                            </a>
                        </li>

                        <form action="/editorials/detail/<%= editorials[i].id %>" method="get">
                            <p> <button class="boton_editar" type="submit">Detalle</button>
                            </p>
                        </form>
                        <form action="/editorials/edit/<%= editorials[i].id %>" method="get">
                            <p> <button class="boton_editar" type="submit">Editar</button>
                            </p>
                        </form>
                        <form action="/editorials/delete/<%= editorials[i].id %>" method="get">
                            <p> <button class="boton_borrar" type="submit">Borrar</button>
                            </p>
                        </form>

                    </div>
                    <% } %>

            </ul>

            </main>
            <%- include('../partials/footer.ejs') %>
    </body>