<!DOCTYPE html>
<html lang="es">
<!-- test -->

<%- include('../partials/head.ejs') %>

    <body>
            <%- include('../partials/header.ejs') %>
                <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

                <link href="../../css/productDetail.css" rel="stylesheet" />
                <main>
                    <div class="contenedor-libro-seleccionado">
                        <div class="contenedor-imagen-libro-seleccionado">
                            <img class="imagen-libro" src="/images/products/<%= productDetail.imagen %>"
                                alt=" imágen de libro Los días de la revolución, de Sacheri">
                        </div>
                        <div class="contenedor-detalles-libro-seleccionado">
                            <div class="contenedor-detalle-libro">
                                <h3 class="nombre-libro"><%= productDetail.nombre %></h3>
                                <div class="autor-libro-seleccionado"><%= productDetail.autores[0].nombre %> <%= productDetail.autores[0].apellido %></div>
                                <div class="editorial-libro"><%= productDetail.editoriales[0].nombre %></div>
                                <div class="anio-edicion"><strong><%= productDetail.anioEdicion %></strong> </div>
                                <p class="precio-libro-seleccionado">$<%= productDetail.precio %></p>
                                <div class="contenedor-cant-button">
                                    <div class="contenedor-cantidad">
                                        <label for="cant">Cant:</label>
                                        <div class="contador">
                                            <div id="modificador">
                                                <span>-</span>
                                            </div>
                                            <input type="text" name="qty" id="qty" maxlength="12" value="1"
                                                title="Cant." class="input-text qty">
                                            <div id="modificador">
                                                <span>+</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="agregar-carrito">
                                        <button type="button-comprar" title="Comprar"
                                            class="button btn-cart"><span>Comprar</span></button>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <h4>Reseña</h4>
                                </div>
                                <p class="overflow-ellipsis"><%= productDetail.resenia %></p>
                                <div>
                                    <h4>Detalle del libro</h4>
                                </div>
                                <div class="detalle editorial">Editorial: <strong><%= productDetail.editoriales[0].nombre %></strong></div>
                                <div class="detalle isbn">ISBN: <strong><%= productDetail.isbn %></strong></div>
                                <div class="detalle num-pag">Número de páginas:<strong><%= productDetail.nro_paginas %></strong></div>
                                <div class="detalle idioma">Idioma: <strong><%= productDetail.idiomas.nombre %></strong></div>
                                <div class="detalle clasificacion">Clasificación: <strong><%= productDetail.generos[0].nombre %></strong>
                                </div>
                                <div class="detalle fecha-publicacion">Fecha de publicación: <strong><%= productDetail.fecha_publicacion %></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-otros-libros">
                        <h4 class=" titulares">Otros usuarios también miraron</h4>
                        <section class="contentedor-otros-libros-vistos">
                            <section class="contenedor-libros">
                                <img class="imagen-otros-libros"
                                    src="/images/products/img-covey_los_7_habitos_de_la_gente_altamente_efectiva.jpg"
                                    alt=" imágen de libro Los 7 habitos de la gente altamente efectiva, de Covey">
                                <div class="contenedor-descripciones">
                                    <p class="precios">$4.622</p>
                                    <p class="autor">Stephen R. Covey</p>
                                    <h4 class="titulo">Los 7 hábitos de la gente altamente efectiva</h4>
                                </div>
                            </section>
                            <section class="contenedor-libros">
                                <img class="imagen-otros-libros"
                                    src="/images/products/img-goleman_liderazgo_el_poder_de_la_inteligencia_emocional.jpg"
                                    alt=" imágen de libro Liderazgo, el poder de la inteligencia emocional, de Goleman">
                                <div class="contenedor-descripciones">
                                    <p class="precios">$1.499</p>
                                    <p class="autor">Daniel Goleman</p>
                                    <h4 class="titulo">Liderazgo, el poder de la inteligencia emocional</h4>
                                </div>
                            </section>
                            <section class="contenedor-libros">
                                <img class="imagen-otros-libros"
                                    src="/images/products/img-sutherland_scrum_el_arte_de_hacer_el_doble.jpg"
                                    alt=" imágen de libro Scrum, el arte de hacer el doble, de Sutherland">
                                <div class="contenedor-descripciones">
                                    <p class="precios">$1.899</p>
                                    <p class="autor">Jeff Sutherland</p>
                                    <h4 class="titulo">Scrum, el arte de hacer el doble de trabajo en la mitad de tiempo
                                    </h4>
                                </div>
                            </section>
                            <section class="contenedor-libros">
                                <img class="imagen-otros-libros" src="/images/products/img-sutherland_scrum_manual_de_campo.jpg"
                                    alt=" imágen de libro Scrum, manual de campo, de Sutherland ">
                                <div class="contenedor-descripciones">
                                    <p class="precios">$2.430</p>
                                    <p class="autor">Jeff Sutherland</p>
                                    <h4 class="titulo">Scrum, manual de campo</h4>
                                </div>
                            </section>
                        </section>
                    </div>
                </main>
                <%- include('../partials/footer.ejs') %>
        </body>

</html>