<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div id="product-list">
                    <h3>Todos los productos</h3>
                    <div id="search-bar">
                        <form id="search-form" action="/unknown" method="post">
                            <input id="filtro" type="text" value="Búsqueda por autor, título o editorial"
                                name="busqueda">
                            <i id="buscar" class="fa-solid fa-magnifying-glass"></i>
                        </form>
                    </div>
                    <div id="tabla-editar-productos"> 
                        <div class="tabla-editar-productos encabezado">
                            <div class="titulo">Título</div>

                            <div class="editar">Acción</div>
                        </div>
                        <% products.forEach(product => { %>
                            <div class="tabla-editar-productos fila">
                                <div class="col-1">
                                    <div class="portada"><img src='/images/products/<%= product.imagen %>'></div>
                                </div>
                                <div class="col-2">
                                    <div class="titulo"><a href="/product/detail/<%= product.id %>"><%= product.nombre %></a></div>
                                    <div class="autor"><%= product.autor %></div>
                                    <div class="info">Ed. <%= product.editorial %>. Stock: <%= product.stock %> u. $<%= product.precio %></div>
                                    <!-- <div class="precio"></div>
                                    <div class="stock"></div> -->
                                </div>
                                <div class="col-3 editar">
                                    <a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></i></a>
                                </div>



                            </div>
                        <% }) %>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>