<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        </head>

        <body>
            <%- include('../partials/header.ejs') %>
            <% if (typeof errors !='undefined' ) { %>
                <div class="errores">
                    <ul>
                        <% for (let i=0; i< errors.length;i++){%>
                            <li>
                                <%= errors[i].msg %>
                            </li>
                            <%} %>
                    </ul>
                </div>
            <% } %>
                <div class="container products-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="products-title">Crear nuevo libro</h2>
                        </div>
                    </div>
                    <div class="menu-relaciones-libro">
                        <ul class="menu-relaciones-libro-flex">
                            <li class="menu-relaciones-libro-item">
                                <a href="/authors/list">Ver Autores</a>
                            </li>
                            <li class="menu-relaciones-libro-item">
                                <a href="/editorials/list">Ver Editoriales</a>
                            </li>
                            <li class="menu-relaciones-libro-item">
                                <a href="/genres/list">Ver Clasificaciones</a>
                            </li>
                            <li class="menu-relaciones-libro-item">
                                <a href="/languages/list">Ver Idiomas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <form action="/product/" method="POST" id="product-create" enctype="multipart/form-data">
                            <h4>Nuevo libro</h4>
                            <div class="row product-create-div">

                                <div class="product-create-field">
                                    <label for="nombre" class="product-create-label" >Nombre del producto:</label>
                                    <input type="text" id="nombre" name="nombre" placeholder="Ej: El amante japonés"
                                        class="form-input">
                                </div>
                                <div class="product-create-field">
                                    <label for="precio" class="product-create-label" >Precio del producto:</label>
                                    <input type="text" id="precio" name="precio" placeholder="3000" class="form-input">
                                </div>
                                <div class="product-create-field">
                                    <label class="product-edit-label" for="editorial">Editorial</label>
                                    <select  name="editorial" id="editorial" required>
                                        <option value="" selected>- elegir editorial - </option>
                                        <% editoriales.forEach(editorial => { %>
                                        <option value="<%= editorial.id %>" ><%= editorial.nombre %></option>
                                        <% }); %>
                                    </select>
                                    <!-- <label for="editorial" class="form-label">Editorial:</label>
                                    <input type="text" id="editorial" name="editorial" placeholder="Ej: Oceano"
                                        class="form-input"> -->
                                </div>
                                <div class="product-create-field">
                                    <label class="product-edit-label" for="autor">Autor</label>
                                    <select  name="autor" id="autor" required>
                                        <option value="" selected>- elegir autor - </option>
                                        <% autores.forEach(autor => { %>
                                        <option value="<%= autor.id %>" ><%= autor.nombre +' '+ autor.apellido %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="product-create-field">
                                    <label for="resenia" class="product-create-label" >Reseña:</label>
                                    <input type="text" id="resenia" name="resenia" placeholder="Este es un libro..."
                                        class="form-input">
                                </div>
                                <div class="product-create-field">
                                    <label class="product-edit-label" for="clasificacion">Clasificación</label>
                                    <select name="clasificacion" id="clasificacion" required>
                                        <option value="" selected>- elegir clasificación - </option>
                                        <% generos.forEach(genero => { %>
                                        <option value="<%= genero.id %>" ><%= genero.nombre %></option>
                                        <% }); %>
                                    </select>
                                    <!-- <label for="clasificacion" class="form-label"> Clasificacion:</label>
                                    <input type="text" id="clasificacion" name="clasificacion" placeholder="Romance"
                                        class="form-input"> -->
                                </div>
                                <div class="product-create-field">
                                    <label for="clasificacion" class="product-create-label" > Año de Edición:</label>
                                    <input type="text" id="anioEdicion" name="anioEdicion" placeholder="2012"
                                        class="form-input">
                                </div>
                                <div class="product-create-field">
                                    <label for="fechaPublicacion" class="product-create-label" > Fecha de Publicación:</label>
                                    <input type="text" id="fechaPublicacion" name="fechaPublicacion"
                                        placeholder="12-20-2012" class="form-input">
                                </div>
                                <div class="product-create-field">
                                    <label for="stock" class="product-create-label" > Stock:</label>
                                    <input type="text" id="stock" name="stock" placeholder="100" class="form-input">
                                </div>
                                <div class="product-create-field">
                                    <label for="nroPaginas" class="product-create-label" > Número de Páginas:</label>
                                    <input type="text" id="nroPaginas" name="nroPaginas" placeholder="500"
                                        class="form-input">
                                </div>
                                <div class="product-create-field">
                                    <label class="product-create-label" for="idioma_id" class="form-label"> Idioma:</label>
                                    <select name="idioma_id" id="idioma_id" required>
                                        <option value="" disabled selected>- elegir idioma - </option>
                                        <% idiomas.forEach(idioma => { %>
                                        <option value="<%= idioma.id %>"><%= idioma.nombre %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="product-create-field">
                                    <label for="isbn" class="product-create-label" >ISBN:</label>
                                    <input type="text" id="isbn" name="isbn" placeholder="121212121212"
                                        class="form-input">
                                </div>
                                <div class="product-create-field">
                                    <label for="imagen" class="product-create-label" >Imágen:</label>
                                    <input type="file"  id="imagen" name="imagen">
                                </div>

   
                                    <button type="submit" class="product-create-button">Guardar producto</button>

                            </div>
                        </form>
                    </div>

                </div>
                <%- include('../partials/footer.ejs') %>
                <script src="/js/validation-create-front.js"></script>
                
        </body>

</html>