<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <h3>
                Detalle del género: <%= genre.nombre %>
            </h3>

            <section>
                <button>
                    <a class="botonVolver" href="/genres/add">Agregar</a>
                </button>
                <button>
                    <a class="botonVolver" href='/genres/edit/<%= genre.id %>'>Editar</a>
                </button>
                <form action="/genres/delete/<%= genre.id %>" method="get">
                    <br>
                    <p> <button class="botonBorrar" type="submit">Borrar</button>
                    </p>
                </form>
                <button>
                    <a class="botonVolver" href="/genres/list">Listado de Géneros</a>
                </button>
            </section>

    </body>

</html>