<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <h3 class="titulo">Género Editado: <%= Genre.title %>
            </h3>
            <section class="formulario">
                <form action="/genres/update/<%= Genre.id %>" method="POST">
                    <label for="nombre">Nombre </label>
                    <p><input type="text" name="nombre" id="" value="<%= Genre.nombre %>" required></p>


                    <br>
                    <p> <button class="botonAgregar" type="submit">Actualizar</button>

                        <a class="botonVolver" href="/genres/list">Listado de Géneros</a>
                    </p>
                </form>
            </section>
    </body>

</html>