<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
<div class="relations-chart">
    <h3>Listado de Autores</h3>
    <ul>
        <div>
            <li class="list-item item-add">
                <a href="/authors/add">Agregar autor (+)</a> 
            </li>
            <li class="list-item table-header">
                <div class="list-name">
                    Autor
                </div>
                <div class="list-option">
                    Opciones
                </div>
            </li>
        </div>
        <% for( let i=0; i < authors.length; i++ ) { %>
            <div class="botones_editar_borrar">
                <li class="list-item">
                    <div class="list-name">
                        <a href="/authors/detail/<%= authors[i].id %>">
                            <%= authors[i].nombre %> <%= authors[i].apellido %>
                        </a>
                    </div>
                    <div class="list-option">
                        <a href="/authors/edit/<%= authors[i].id %>">Editar</a>
                        <span class="list-option-separator"> | </span> 
                        <a href="/authors/delete/<%= authors[i].id %>">Borrar</a>
                    </div>
                </li>
                
            </div>
            <% } %>


    </ul>

</div>

            </main>
            <%- include('../partials/footer.ejs') %>
    </body>