<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <h3 class="titulo">Autor Editado: <%= author.title %>
            </h3>
            <section class="formulario">
                <form action="/authors/update/<%= author.id %>" method="POST">
                    <label for="nombre">Nombre </label>
                    <p><input type="text" name="nombre" id="" value="<%= author.nombre %>" required></p>
                    <label for="apellido">Apellido </label>
                    <p><input type="text" name="apellido" id="" value="<%= author.apellido %>" required></p>

                    <br>
                    <p> <button class="botonAgregar" type="submit">Actualizar</button>

                        <a class="botonVolver" href="/authors/list">Listado de Autores</a>
                    </p>
                </form>
            </section>
    </body>

</html>