<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <h3 class="titulo">Idioma Editado: <%= Language.nombre %>
            </h3>
            <section class="formulario">
                <form action="/languages/update/<%= Language.id %>" method="POST">
                    <label for="nombre">Nombre </label>
                    <p><input type="text" name="nombre" id="" value="<%= Language.nombre %>" required></p>

                    <br>
                    <p> <button class="botonAgregar" type="submit">Actualizar</button>

                        <a class="botonVolver" href="/languages/list">Listado de Idiomas</a>
                    </p>
                </form>
            </section>
    </body>

</html>