<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <h3>Estas seguro de querer borrar este idioma : <%= language.nombre %>
            </h3>
            <p>
            <form action="/languages/delete/<%= language.id %>" method="POST">
                <br>
                <p> <button class="botonBorrar" type="submit">Borrar Idioma</button>

                    <a class="botonVolver" href="/languages/list">Listado de Idiomas</a>
                </p>

            </form>
            </p>

            </main>
            <%- include('../partials/footer.ejs') %>
    </body>