<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <h3>
                Detalle del idioma: <%= language.nombre %>
            </h3>

            <section>
                <button>
                    <a class="botonVolver" href="/languages/add">Agregar</a>
                </button>
                <button>
                    <a class="botonVolver" href='/languages/edit/<%= language.id %>'>Editar</a>
                </button>
                <form action="/languages/delete/<%= language.id %>" method="get">
                    <br>
                    <p> <button class="botonBorrar" type="submit">Borrar</button>
                    </p>
                </form>
                <button>
                    <a class="botonVolver" href="/languages/list">Listado de Idiomas</a>
                </button>
            </section>

    </body>

</html>